node_modules
.env
.env.example
/frontend/build/
frontend/.dart_tool
/artifacts/build-info/31f8aececdfaa8a8c0d8d26056d2065f.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/StringAddressUtils.sol/AddressToString.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/StringAddressUtils.sol/AddressToString.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/executables/AxelarExecutable.sol/AxelarExecutable.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/executables/AxelarExecutable.sol/AxelarExecutable.json
/artifacts/contracts/Proxy.sol/ExampleProxy.dbg.json
/artifacts/contracts/Proxy.sol/ExampleProxy.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarExecutable.sol/IAxelarExecutable.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarExecutable.sol/IAxelarExecutable.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarGasService.sol/IAxelarGasService.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarGasService.sol/IAxelarGasService.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarGateway.sol/IAxelarGateway.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IAxelarGateway.sol/IAxelarGateway.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IUpgradable.sol/IUpgradable.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/interfaces/IUpgradable.sol/IUpgradable.json
/artifacts/contracts/nft-name/NftName.sol/NameNft.dbg.json
/artifacts/contracts/nft-name/NftName.sol/NameNft.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/upgradables/Proxy.sol/Proxy.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/upgradables/Proxy.sol/Proxy.json
/cache/solidity-files-cache.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/StringAddressUtils.sol/StringToAddress.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/StringAddressUtils.sol/StringToAddress.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/upgradables/Upgradable.sol/Upgradable.dbg.json
/artifacts/@axelar-network/axelar-gmp-sdk-solidity/contracts/upgradables/Upgradable.sol/Upgradable.json
/frontend/target/
